
<h1 class="subheader">{{article.title}}</h1>
<h3 class="date">
    Precio: <span  class="fs-3">{{article.pricing}}</span>
</h3>
<h3>
  Stock: {{article.stock}}
</h3>
<p>
  {{article.content}}
</p>

<div class="buttons text-center">
    <form class="row g-3">
        <div class="col-2">
       
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Cantidad">
        </div>
        <div class="col-4">
            <input type="number" min="0"  max="{{article.stock}}"  class="form-control" id="inputPassword2">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary mb-3">Agregar</button>
        </div>
      </form>
    

</div>
